<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0072)http://zurb.com/playground/projects/responsive-email-templates/hero.html -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 
<meta name="viewport" content="width=device-width">
​
<title>FREEDOM</title>
<link rel="stylesheet" type="text/css" href="./ZURBemails_files/email.css">
</head>
<body bgcolor="#FFFFFF">
 
<table class="head-wrap" bgcolor="#999999">
<tbody><tr>
<td></td>
<td class="header container">
<div class="content">
<table bgcolor="#999999">
<tbody><tr>
<td><img style="width: 670px;" src="http://i.imgur.com/rAv1wrP.jpg"></td>
<td align="right"><h6 class="collapse"></h6></td>
</tr>
</tbody></table>
</div>
</td>
<td></td>
</tr>
</tbody></table> 
 
<table class="body-wrap">
<tbody><tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">
<div class="content">
<table>
<tbody><tr>
<td>
<h3>BREAKING NEWS: AMERICA FUCKING RULES</h3>
<p class="lead">Russia, China, Iran, France, North Korea, etc. still lame... Mexico sort of cool though - Obama says at press briefing</p>
<p><img src="http://www.wnd.com/files/2015/03/Obama.png"></p> 
 
<p class="callout">
Obama at pro-America press briefing</a>
</p> 
<p>
<small>4:43 PM ET, Mon February 22, 2016</small></h3>
</p>
<p>WASHINGTON - President Obama delivered a strong message to the leaders of all other nations at a White House press conference today, proclaiming that "America fucking rules, and if you disagree, you hate freedom". The sentiment was immediately affirmed by America's sheer awesomeness, a fact as true as the purple mounatins are majestic.</p>
<p>"LOL at commies!" the president said gleefully to reporters. "Watch, check this out. Everyone look out the window", Obama said as he tapped a quick text message into his iPhone.</p>
<p>Very shortly thereafter, a large flight consisting of dozens of Air Force F-22 fighter jets appeared in the skies, clearly spelling out the word "OBAMA" as they sped over the nation's capital. The jets then re-arranged themselves to appear like the shape of a hand sticking out its middle finger, circling over DC's embassy row for several hours. The fighters returned to Andrews Air Force base in Maryland, where the pilots celebrated with an all-night keg party attended by Chuck Norris.</p>
<p>"And ISIS too. They really hate freedom." the president added, as an actor dressed like an Islamic State jihadi appeared behind him on stage. The reporters assembled gasped in horror as the faux terrorist flicked open a Zippo lighter and reached for the American flag on the right side of the press room stage, clearly intent on setting it ablaze. It was then that WWE World Champion John Cena stormed into the room and began savagely beating the terrorist with a folding chair.</p>
<p>Obama, insisting that each reporter help theirself to a Bud heavy tallboy from the cooler by the door, then led reporters out to the White House lawn to continue the conference outdoors. Reporters were shown a red 1992 Toyota Corolla with the word "ISIS" spraypainted all over it. The president then climbed in to driver's seat of a monster truck painted with an American flag pattern.</p>
<p>The crowd cheered with delight as Obama revved the engine up to a near-deafening roar, popped the clutch, and crushed the junker in quick order. A squad of US Marines, bearing automatic rifles then proceeded to open fire on the remains of the car. Clips emptied, the marines then threw white phosphorous incindeiary grenades at the wreck, completely obliterating what little had already remained. Obama circled the crowd, laughing maniacally at the scene, exchanging fist bumps and bro hugs with reporters, cabinet members, secret service agents, and John Cena.</p>
<p>"Oh shit! I just had the best idea!" the president said "Next time we have to have two bald eagles mating on top of an ISIS flag! That would be fucking hilarious! We'll totally make it into a GIF too!"
</p> 
<br>
<br>
 
<table class="social" width="100%">
<tbody><tr>
<td>
 
<table align="left" class="column">
<tbody><tr>
<td>
<h5 class="">Connect with Us:</h5>
<p class=""><a href="http://zurb.com/playground/projects/responsive-email-templates/hero.html#" class="soc-btn fb">Facebook</a> <a href="http://zurb.com/playground/projects/responsive-email-templates/hero.html#" class="soc-btn tw">Twitter</a> <a href="http://zurb.com/playground/projects/responsive-email-templates/hero.html#" class="soc-btn gp">Google+</a></p>
</td>
</tr>
</tbody></table> 
 
<table align="left" class="column">
<tbody><tr>
<td>
<h5 class="">Contact Info:</h5>
<p>Phone: <strong>1900-LOVE-USA</strong><br>
Email: <strong><a href="emailto:freedom@americanfreedomnewsofamerica.com">emailto:freedom@americanfreedomnewsofamerica.com</a></strong></p>
</td>
</tr>
</tbody></table> 
<span class="clear"></span>
</td>
</tr>
</tbody></table> 
</td>
</tr>
</tbody></table>
</div>
</td>
<td></td>
</tr>
</tbody></table> 
 
<table class="footer-wrap">
<tbody><tr>
<td></td>
<td class="container">
 
<div class="content">
<table>
<tbody><tr>
<td align="center">
<p>
<a href="http://zurb.com/playground/projects/responsive-email-templates/hero.html#">Terms</a> |
<a href="http://zurb.com/playground/projects/responsive-email-templates/hero.html#">Privacy</a> |
<a href="http://zurb.com/playground/projects/responsive-email-templates/hero.html#"><unsubscribe>Unsubscribe</unsubscribe></a>
</p>
</td>
</tr>
</tbody></table>
</div> 
</td>
<td></td>
</tr>
</tbody></table> 
​
</body></html>