<!DOCTYPE html>
<html>
<head>
  <title>SidekiqNewsletter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header style="width: 100%;background-color : blue;">
	<img src="http://i.imgur.com/fePomjR.png" style="height:100px">
	</header>

	<%= yield %>

</body>
</html>
